<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
    <title><%= yield(:title) || 'Empréstimos de Espaços'%></title>    
    <%= javascript_tag "var AUTH_TOKEN = #{form_authenticity_token.inspect};" if protect_against_forgery? %>
    <%= stylesheet_link_tag 'reset', 'jquery-ui', 'application' %>
    <%= javascript_include_tag 'jquery', 'jqueryui', 'jquery.cookie', 'jquery.hoverintent', 'cmpa', 'jquery.maskedinput', 'jquery.alphanumeric','jquery.validate', 'application' %>
    <%= yield :head %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body select_elements='<%= yield(:select_elements) || "##{controller_name}" %>'>
  	<div id="container">
    <div id='header'>      
			<h2><%= link_to 'Solicitação de Empréstimo de Espaços', root_path %></h2>      
			<ul id='nav'>
				<% if current_user %>
				<li><%= link_to 'Sugestões', sugestoes_path, :icon => 'comment_edit' %>
      	<li><%= render 'application/login' %></li>      	
      	<% end %>     
			</ul>
    </div>    
      <div id="content">
        <%= yield %>
      </div>    
    <div id='footer'><%= render 'application/footer' %></div>
    </div>
  </body>
</html>


